<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_USER_AGENT} "android|blackberry|googlebot-mobile|iemobile|ipad|iphone|ipod|opera mobile|palmos|webos" [NC]
    # NOTE: the variable MOBILE_SITE should be defined
    RewriteRule ^$ http://%{ENV:MOBILE_SITE}:%{SERVER_PORT}/ [L,R=302]
</IfModule>